body {
    /*所有元素不可选中*/
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

img {
    max-width: 80%;
    height: auto
}

.nav {
    width: 99%;
    height: 80px;
    padding: 10px;
}

.logo {
    position: relative;
    top: 20px;
    left: 20px;
    display: inline-block;
}

.disable {
    pointer-events: none;
}