



.center {
    width: 800px;
    height: 400px;
    position: relative;
    padding: 5px;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.center a {
    color: black;
    text-decoration: none;
}

/*正常的未被访问过的链接*/
.center a:link {
    text-decoration: none;
}

/*已经访问过的链接*/
.center a:visited {
    text-decoration: none;
}

/*鼠标划过(停留)的链接*/
.center a:hover {
    text-decoration: none;
}

/* 正在点击的链接*/
.center a:active {
    text-decoration: none;

}

.center div {
    text-align: center;
}

.btn_reception {
    position: absolute;
    left: 40px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 12px;
    padding: 15px 25px 15px 25px;
    font-size: 50px;
    background-color: #fff100;
    -moz-box-shadow: 5px 5px #000; /* 老的 Firefox */
    box-shadow: 5px 5px #000;

}

.btn_reception:hover {
    margin: 5px 5px 5px 5px;
    box-shadow: 1px 1px #000;
}

.btn_publish {
    position: absolute;
    right: 40px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 12px;
    padding: 15px 25px 15px 25px;
    font-size: 50px;
    background-color: #13B5B1;
    -moz-box-shadow: 5px 5px #000; /* 老的 Firefox */
    box-shadow: 5px 5px #000;
}

.btn_publish:hover {
    margin: 5px -5px 0px 0px;
    box-shadow: 1px 1px #000;
}

.btn_logout {
    display: inline-block;
    border: 2px solid black;
    border-radius: 8px;
    padding: 3px 5px 3px 5px;
    font-size: 15px;
    color: #fff;
    background-color: #f00;
    text-decoration: none;
}

.btn_logout:hover {
    box-shadow: 1px 1px #000;
    background-color: #c41717;

}

.notice {
    width: 500px;
    height: auto;
    position: relative;
    padding: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.notice p {
    font-size: 18px;
    font-weight: normal;
}
