.main {
    margin-top: 50px;
    width: 100%;
    height: 500px;
    position: relative;
}

.user-tool {
    position: relative;
    display: inline-block;
    right: 200px;
    top: 20px;
    float: right;
}

.user-tool span {
    font-size: 20px;
    font-weight: bold;
}


table {
    margin: 0 auto;
    border-collapse: collapse;
}

/*边框和内边距*/
tr, td, th {
    /*padding: 10px;*/
    /*border: 2px solid black;*/
}

.flag {
    font-size: xx-large;
    font-weight: 1000;
}

.flag a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #555555;
}

