.main {
    margin-top: 50px;
    width: 100%;
    height: 500px;
    position: relative;
}

.user-tool {
    position: relative;
    display: inline-block;
    right: 200px;
    top: 20px;
    float: right;
}

.user-tool span {
    font-size: 20px;
    font-weight: bold;
}

.btn_logout {
    display: inline-block;
    border: 2px solid black;
    border-radius: 8px;
    padding: 3px 5px 3px 5px;
    font-size: 15px;
    color: #fff;
    background-color: #f00;
    text-decoration: none;
}

.btn_logout:hover {
    box-shadow: 1px 1px #000;
    background-color: #c41717;
    color: white;

}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

/*边框和内边距*/
tr, td, th {
    /*padding: 10px;*/
    /*border: 2px solid black;*/
}

.flag {
    font-size: xx-large;
    font-weight: 1000;
}

.flag a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #555555;
}

