.task-view {
    width: 500px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 3px 3px black;
    background-color: white;
}

.task-view h1 {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: large;
}

.progress-bar {
    display: flex;
    white-space: nowrap;
}

.progress-bar-view {
    width: 0%;
    display: inline-block;
    background-color: cornflowerblue;
}

#controller-bar {
    text-align: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0px 30px;
}

#controller-bar span {
    width: 100% !important;
}

.info-view span {
    color: cornflowerblue;
}

.btn-re {
    padding: 5px 20% 5px 20%;
    border: 2px solid black;
    border-radius: 4px;
    color: white;
    font-size: medium;
    font-weight: bolder;
    background-color: cadetblue;
}

.btn-re:hover {
    color: black;
    background-color: white;
}

.btn-next {
    padding: 5px 20% 5px 20%;
    border: 2px solid black;
    border-radius: 4px;
    color: white;
    font-size: medium;
    font-weight: bolder;
    background-color: brown;
}

.btn-next:hover {
    color: black;
    background-color: white;
}