<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>互助网-历史记录</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        table{
            table-layout:fixed;
        }
        td {
            word-break: keep-all; /* 不换行 */
            white-space: nowrap; /* 不换行 */
            overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
            text-overflow: ellipsis; /* 溢出时显示省略标记...；需与overflow:hidden;一起使用*/
        }
    </style>
</head>
<body>
<div class="nav">
    <div class="logo">
        <a href="/"><img th:src="@{/images/logo.png}"></a>
    </div>
    <div class="user-tool">
        <ul class="user-menu">
            <li><a href="/">主页</a></li>
            <li><a href="/history">任务记录</a></li>
            <li><a href="/manager">任务管理</a></li>
            <li><a href="/helpful">使用帮助</a></li>
            <li><a href="/userinfo" th:text="${name}"></a></li>
            <li><a href="/user/logout" class="btn_logout">退出登录</a></li>
        </ul>
    </div>
</div>

<div style="width: 800px;margin: 50px auto;">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 15%">完成任务</th>
            <th style="width: 15%">任务来至</th>
            <th style="width: 10%">任务类型</th>
            <th style="width: 10%">任务积分</th>
            <th style="width: 30%">任务简述</th>
            <th style="width: 20%">完成时间</th>
        </tr>
        </thead>
        <tbody id="history-view">
        </tbody>
    </table>
</div>
<script>

    $(function () {
        findAll()
    })

    function findAll() {
        $.ajax({
            url: "/order/findAll",
            method: "GET",
            success: function (res) {
                if (res.code === 1) {
                    let html = "";
                    let data = res.data;
                    for (let i = 0; i < data.length; i++) {
                        html +=
                            "<tr>" +
                            "<td>" + data[i].doneUser + "</td>" +
                            "<td>" + data[i].fromUser + "</td>" +
                            "<td>" + data[i].taskType + "</td>" +
                            "<td>" + data[i].payType + data[i].taskPay + "</td>" +
                            "<td>" + data[i].taskDesc + "</td>" +
                            "<td>" + data[i].createTime + "</td>" +
                            "</tr>"
                    }
                    $("#history-view").html(html)
                } else {
                    alert(res.data)
                }
            },
            error: function () {
                alert("当前与服务器连接失败，请稍后重试！")
            }
        })
    }
</script>
</body>
</html>