<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>互助网-任务大厅</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <style>

    </style>
</head>
<body>
<div class="nav">
    <div class="logo">
        <img th:src="@{/images/logo.png}">
    </div>
</div>

<script>
    $(function () {
        getTaskList()
    })

    function getTaskList() {
        $.ajax({
            url:"/taskhall/get",
            method:"GET",
            success:function (res) {
                console.log(res)
            },
            error:function () {
                alert("请求失败")
            }
        })
    }
</script>
</body>
</html>