<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>互助网-任务大厅</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/task-view.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <style>
        .main {
            width: 100%;
            height: 500px;
            position: relative;
        }

        table {
            margin: 0 auto;
            border-collapse: collapse;
        }
        tr,td,th{
            padding: 10px;
            border: 2px solid black;
        }
    </style>
</head>
<body>
<div class="nav">
    <div class="logo">
        <img th:src="@{/images/logo.png}">
    </div>
</div>

<div class="main">
    <table>
        <tr>
            <td>
                <div>
                    <span>返回</span>
                    <span>观看任务</span>
                    <span>教程</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="task-view"></div>
            </td>
        </tr>
    </table>
</div>

<script>
    $(function () {
        getTaskList()
    })

    function getTaskList() {
        let url = "/taskhall/get?r=" + Math.random();
        $.ajax({
            url: url,
            method: "GET",
            success: function (res) {
                console.log(res)
                $("#task-view").html(res)
            },
            error: function () {
                // alert("请求失败")
                console.log("请求失败")
            }
        })
    }
</script>
</body>
</html>