<div>
    <div class="task">
        <p><strong>BV1oT4y1671T</strong></p>
        <p>历史书太小 装不下一个人波澜壮阔的一生 历史书又太大 装下了华夏上下五千年</p>
        <img src="http://i0.hdslb.com/bfs/archive/a29d0b8b081b1ffe90aca727543b528c5cdb4f9d.jpg">
        <div>
            <span><strong>创建时间：</strong></span>
            <span>2020/02/20 22:22:22</span>
            <br/>
            <span><strong>任务类型：</strong></span>
            <span>观看任务</span>
            <br/>
            <span><strong>积分：</strong></span>
            <span>1</span>
        </div>
        <div class="controller-plane">
            <a href="#">修改</a>
            <a href="#">删除</a>
        </div>
    </div>
</div>