<div>
    <h1>[[${task.taskDesc}]]</h1>
</div>
<div>
    <div>
        <b>积分：</b>
        <span>[[${task.taskPay}]]</span>
    </div>
    <div>
        <b>任务来至：</b>
        <span>[[${task.taskFrom}]]</span>
    </div>
    <div class="progress-bar">
        <b>任务进度：</b>
        <span id="progress" class="progress-bar-view">&nbsp;</span>
        <span id="progress_num">0%</span>
    </div>
</div>
<div xmlns:th="http://www.thymeleaf.org">
    <input id="remote_url" type="hidden" th:value="${task.taskUrl}">
    <input id="remote_id" type="hidden" th:value="${task.id}">
</div>
<script>
    $(function () {
        let wallet = [[${wallet}]]
        $("#wallet").text(wallet)
    })
</script>