<div xmlns:th="http://www.thymeleaf.org">

    <div class="main">
        <img class="avatar" th:alt="${info.email}+'头像'" th:src="'https://api.multiavatar.com/'+${info.email}+'.png'"/>
        <h1 th:text="${info.name}"></h1>
        <h3 th:text="${info.email}"></h3>
        <h5 th:text="${#dates.format(info.createTime,'注册时间：yyyy-MM-dd')}"></h5>
    </div>
    <div class="main">
        <div class="box">
            <span class="title"><strong class="none">互助码：</strong>064165</span>
            <p>☑️他人注册时使用您分享的互助码，您会获得相应的互助积分，对方也可获得部分积分。</p>
        </div>
    </div>
</div>